 <div class="row text-center title"><h1>HR Platform</h1></div>
	<div style="margin-top: 3%">
	<div class="jumbotron" style="float:left; margin-left:15%; margin-top:5%; width:300px; height:300px">
  		<p>This is content area</p>
		<a ui-sref="#"><button type="button" style="float:right;display:inline" class="btn btn-primary"> Service-1 </button></a>
	</div>
	
	<div class="jumbotron" style="float:left; margin-left:15%; margin-top:5%; width:300px; height:300px">
  		<p>This is content area</p>
		<a ui-sref="#"><button type="button" style="float:right;display:inline" class="btn btn-primary"> Service-2 </button></a>
	</div>
	
	<div class="jumbotron" style="float:left; margin-left:15%; margin-top:5%; width:300px; height:300px">
  		<p>This is content area</p>
		<a ui-sref="#"><button type="button" style="float:right;display:inline" class="btn btn-primary"> Service-3 </button></a>
	</div>
	
	
	</div>
	<div>
	<div style="margin-top: 3%">
	<div class="jumbotron" style="float:left; margin-left:15%; margin-top:5%; width:300px; height:300px">
  		<p>This is content area</p>
		<a ui-sref="#"><button type="button" style="float:right;display:inline" class="btn btn-primary"> Service-1 </button></a>
	</div>
	
	<div class="jumbotron" style="float:left; margin-left:15%; margin-top:5%; width:300px; height:300px">
  		<p>This is content area</p>
		<a ui-sref="#"><button type="button" style="float:right;display:inline" class="btn btn-primary"> Service-2 </button></a>
	</div>
	
	<div class="jumbotron" style="float:left; margin-left:15%; margin-top:5%; width:300px; height:300px">
  		<p>This is content area</p>
		<a ui-sref="#"><button type="button" style="float:right;display:inline" class="btn btn-primary"> Service-3 </button></a>
	</div>

</div>
	<!-- <div class="col-sm-12 mainContent">
	
	<div class="col-sm-4"></div>
	
	 <div class="col-sm-8">
	   <h2 class="sub-title">Dashboard</h2>
	   </div>
	   
	   <div ng-cloak="" class="gridListdemoBasicUsage">
  <md-grid-list 
   md-cols-xs="1" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="6"
        md-row-height-gt-md="1:1" md-row-height="2:2"
        md-gutter="12px" md-gutter-gt-sm="8px" >
  
  <md-grid-tile class="green">
      <md-grid-tile-footer>
        <h3>#2: (1r x 1c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>
    
	</md-grid-list>
	</div> -->
	<div class="footer text-center">
<p>@Copy Right Reserved By HR Platform</p>
</div>