 <div>
 <div class="row text-center title"><h1>HR Platform</h1></div>
 
	<div style="margin-top: 7%; overflow: hidden">
	
	<div class="jumbotron" style="float:left; margin-left:10%; width:300px; height:300px">
  		<p>This is content area</p>
		<a ui-sref="#">
		<div class="dialog-demo-content" layout="row" layout-wrap="" layout-margin="" layout-align="center">
			<md-button class="md-primary md-raised" ng-click="showConfirm($event)" style="float:right; display:inline" class="btn btn-primary">Service-1</md-button></a>
		</div>
	</div>
	
	<div class="jumbotron" style="float:left;  margin-left:10%; width:300px; height:300px">
  		<p>This is content area</p>
		<a ui-sref="#">
		<div class="dialog-demo-content" layout="row" layout-wrap="" layout-margin="" layout-align="center">
		<md-button class="md-primary md-raised" ng-click="showConfirm($event)" style="float:right; display:inline" class="btn btn-primary">Service-2</md-button></a>
		</div>
	</div>
	
	<div class="jumbotron" style="float:left; margin-left:10%; width:300px; height:300px">
  		<p>This is content area</p>
		<a ui-sref="#">
		<div class="dialog-demo-content" layout="row" layout-wrap="" layout-margin="" layout-align="center">
		<md-button class="md-primary md-raised" ng-click="showConfirm($event)"  style="float:right; display:inline" class="btn btn-primary">Service-3</md-button></a>
		</div>
	</div>
	
	
	</div>

	<div style="overflow: hidden">
	<div class="jumbotron" style="float:left; margin-left:10%; width:300px; height:300px">
  		<p>This is content area</p>
		<a ui-sref="#">
		<div class="dialog-demo-content" layout="row" layout-wrap="" layout-margin="" layout-align="center">
		<md-button class="md-primary md-raised" ng-click="showConfirm($event)" style="float:right; display:inline" class="btn btn-primary">Service-4</md-button></a>
		</div>
	</div>
	
	<div class="jumbotron" style="float:left; margin-left:10%; width:300px; height:300px">
  		<p>This is content area</p>
		<a ui-sref="#">
		<div class="dialog-demo-content" layout="row" layout-wrap="" layout-margin="" layout-align="center">
		<md-button class="md-primary md-raised" ng-click="showConfirm($event)" style="float:right; display:inline" class="btn btn-primary">Service-5</md-button></a>
		</div>
	</div>
	
	<div class="jumbotron" style="float:left; margin-left:10%; width:300px; height:300px">
  		<p>This is content area</p>
		<a ui-sref="#">
		<div class="dialog-demo-content" layout="row" layout-wrap="" layout-margin="" layout-align="center">
		<md-button class="md-primary md-raised" ng-click="showConfirm($event)" style="float:right; display:inline" class="btn btn-primary">Service-6</md-button></a>
		</div>
	</div>

</div>
	
	<div class="footer text-center">
<p>@Copy Right Reserved By HR Platform</p>
</div>
</div>